@media screen and (max-width:767px){
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: black;
  color: white;
}
.label{
  font-size: 20px;
}
.content{
  margin:40% auto;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}
.matter{
  margin: 10px;
  font-weight: 300;
  font-size: 10px;
}
.footer{
  text-align: center;
  padding: 50px;
  font-size: 15px;
  opacity: 30%;
}
li{
  font-size: 10px;
  margin-left: 50px;
}
b{
  font-weight: 500;
}
.home{
  display: inline-block;
  margin: 10px;
 }
 a{
  color: white;
  font-size: 15px;
  text-decoration: none;
 }
 a:hover{
  cursor: pointer;
  transform: translateY(-10px);
  transition: 1s;
 }
 .nav{
  text-align: center;
 }
}

@media screen and (min-width:992px){
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background-color: black;
    color: white;
  }
  .label{
    font-size: 30px;
  }
  .content{
    margin:10% auto;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    width: 50%;
    box-shadow: 1px 1px 10px white;
  }
  .matter{
    margin: 10px;
    font-weight: 300;
    font-size: 15px;
  }
  .footer{
    text-align: center;
    padding: 50px;
    font-size: 15px;
    opacity: 30%;
  }
  li{
    font-size: 10px;
    margin-left: 50px;
  }
  b{
    font-weight: 500;
  }
  .home{
    display: inline-block;
    margin: 10px;
   }
   a{
    color: white;
    font-size: 20px;
    text-decoration: none;
   }
   a:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 1s;
   }
   .nav{
    text-align: center;
   }
  }