@media  screen and (max-width:767px) {
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img{
  width: 70%;
  margin: 10px auto;
}
button{
  width: 70%;
  border:none;
  padding: 10px;
  text-align: center;
  color: green;
  font-weight: 600;
}
.music{
  font-size: 50px;
}
.title{
  font-size: 18px;
  font-weight: 400;
}
h1,.music{
  display: inline;
  margin: 0px;
}
.main{
  margin: 40px;
  font-size: 25px;
}
h1{
    color: darkblue;
    text-align: center;
    font-size: 50px;
}
.welcome{
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  margin: 10px;
}
.welcome>p{
  font-size: 15px;
  margin-left: 10px;
}
body {
  display: relative;
  background: white;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer {
  position:relative;
  width: 100%;
  background: #3586ff;
  height: 300px;
  padding: 50px;
  display:flex ;
  margin-top:124%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 100%;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  text-align:center;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 5s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
    }
  }
}

@media  screen and (min-width:992px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .container{
   background-color: whitesmoke;
   padding: 20px;
   box-shadow: 2px 2px 10px black;
   margin: 10px;
   border-radius: 20px;
   width: 60%;
}
  img{
    width: 30%;
    margin: 0px auto;
    border-radius: 10px;
  }
  b{
    font-size: 40px;
    font-weight: 800;
  }
  button{
    width: 30%;
    border:none;
    padding: 10px;
    text-align: center;
    color: green;
    font-weight: 600;
    font-size: 20px;
  }
  .music{
    font-size: 50px;
  }
  .title{
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
  }
  h1,.music{
    display: inline;
    margin: 0px;
  }
  .main{
    margin: 40px;
    font-size: 30px;
  }
  h1{
      color: darkblue;
      text-align: center;
      font-size: 40px;
  }
  .welcome{
    background-color:  white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    margin: 10px;
  }
  .welcome>p{
    font-size: 20px;
    margin-left: 10px;
  }
  body {
    display: relative;
    background: white;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
  .footer {
    position:relative;
    width: 100%;
    background: #3586ff;
    height: 300px;
    padding: 50px;
    display:flex ;
    margin-top:20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 100%;
    cursor: pointer;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align:center;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 5s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
      }
    }
  }